* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.pre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 620px;
  margin: auto;
  margin-top: 90px;
  height: 550px;
  background: #f1bd6e;
}

.counter-container {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 60px 110px;
  text-align: center;
  box-shadow: 0px 10px 10px -2px black;
}

.decrease {
  margin-bottom: 18px;
}

.number {
  font-size: 10rem;
  color: green;
}

.text {
  color: #fff;
  font-size: 40px;
}

button {
  background: #171350;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  color: #fff;
  box-shadow: 0px 10px 10px -2px black;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background: #3830ac;
}
